/* style.css */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* Tailwind 설정과 별개로 내가 짠 디자인을 여기 넣습니다 */
body { font-family: 'Pretendard', sans-serif; }

/* 커스텀 마우스 커서 디자인 */
#custom-cursor {
    display: flex; align-items: center; justify-content: center;
    font-size: 2rem; /* 구름 크기 */
    transition: transform 0.1s ease-out, scale 0.2s;
}
